* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	min-height: 100%;
	position: relative;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	padding-bottom: 120px;
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background: #fff url("../img/bg.png") 50% 0 no-repeat;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.mb12 {
	margin-bottom: 12px;
}

.mb32 {
	margin-bottom: 32px;
}


.modal-box-sm {
	background: #fff;
	padding: 30px 20px;
	@include border-radius(16px);

	h2 {
		color: #000;
		font-size: 24px;
		font-weight: 700;
		line-height: 28px;
		text-align: center;
		margin-bottom: 25px;
		text-transform: uppercase;
	}


	.modal-time {
		font-size: 20px;
		font-weight: 700;
		line-height: 26px;
		text-align: center;
		margin-bottom: 35px;
		color: $color-purple;
	}

	.btn-group {
		padding: 0;
		font-size: 0;
		line-height: 0;
		margin: 0 -15px;
		list-style: none;
		text-align: center;

		li {
			padding: 0 15px;
			margin-bottom: 20px;
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding: 50px 75px;

		h2 {
			font-size: 30px;
			line-height: 34px;
			margin: 0 -20px 25px -20px;
		}

		.modal-time {
			font-size: 24px;
			line-height: 28px;
		}
	}
}


.modal-box-md {
	background: #fff;
	padding: 30px 20px;
	@include border-radius(16px);

	.modal-heading {
		margin-bottom: 40px;

		h2 {
			color: #000;
			font-size: 24px;
			font-weight: 700;
			line-height: 28px;
			text-align: center;
			margin-bottom: 10px;
			text-transform: uppercase;
		}

		.subtitle {
			text-align: center;

			.text {
				color: #666;
				display: block;
				font-size: 16px;
			}

			.date {
				color: #00b7e1;
				display: block;
				font-size: 24px;
				font-weight: 700;
				line-height: 30px;
			}
		}
	}

	.table {
		color: #666;
		border-collapse: separate;
		margin-bottom: 35px;

		tr {
			font-size: 15px;
			line-height: 20px;

			&:first-child {
				th {
					border-color: transparent !important;
				}
			}


			&.active {

				td {
					color: #000;
					font-weight: 600;
					border-color: #00b7e1;

					&:first-child,
					&:last-child {
						border-color: #00b7e1;
					}
				}
			}


			th {
				font-weight: 700;
				text-align: left;
				padding: 10px 10px;
				border: none;

				&:first-child {
					text-align: left;
				}
			}

			td {
				padding: 10px 10px;
				text-align: center;
				border-top: 1px solid transparent;
				border-bottom: 1px solid #eee;

				&:first-child {
					text-align: left;
					border-left: 1px solid transparent;
				}

				&:last-child {
					border-right: 1px solid transparent;
				}
			}

			&:hover {

				td {
					border-color: #00b7e1;
				}
			}
		}
	}

	.submit-block {
		overflow: hidden;
		position: relative;

		&:after {
			top: 50%;
			left: 0;
			z-index: 10;
			right: 10px;
			content: ' ';
			position: absolute;
			border-bottom: 1px solid #ccc;
		}

		.btn-inner {
			z-index: 50;
			float: right;
			background: #fff;
			padding-left: 35px;
			position: relative;
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 50px 60px;

		.modal-heading {

			h2 {
				float: left;
				width: 510px;
				font-size: 30px;
				line-height: 34px;
				margin-bottom: 0;
				padding-top: 10px;
			}

			.subtitle {
				width: 190px;
				float: right;
				text-align: left;

				.text {

				}

				.date {

				}
			}
		}
	}
}


.fancybox-overlay {
	background: rgba(255,255,255, 0.7);
}

.fancybox-opened {

	.fancybox-skin {
		@include border-radius(16px);
		@include box-shadow(0px 7px 30px 0px rgba(255, 0, 32, 0.2));
	}
}


.page {

	.page-item {
		display: none;

		&.active {
			display: block;
		}
	}
}

.fancybox-close {
	overflow: hidden;
	@include border-radius(50%);
	background-color: #b2e8f3;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {

}