.profile-top {
    max-width: 902px;
    margin: 0 auto 35px auto;

    .profile-photo-inner {
        max-width: 302px;
        height: 292px;
        padding: 49px 0 0 47px;
        margin: 0 auto 20px auto;
        background: url("../img/profile-image.png") 0 0 no-repeat;

        .profile-photo {
            width: 175px;
            height: 200px;
            background: #fff;
            border: 2px solid #f5f5f5;
        }
    }

    #inputPhoto {
        width: 100%;
        height: 100%;
        float: right;
        cursor: pointer;
        overflow: hidden;
        margin-top: 25px;
        position: relative;


        .fileformlabel {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: $color-purple;
            z-index: 100;
            cursor: pointer;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            padding-top: 80px;
            display: block;
            position: absolute;
            text-decoration: underline;
            background: url("../img/icon-photo.png") 50% 15px no-repeat;
        }

        .upload {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            -moz-opacity: 0;
            filter: alpha(opacity=0);
            opacity: 0;
            font-size: 150px;
            height: 100%;
            z-index:20;
            display: block;
            cursor: pointer !important;
        }
    }


    .profile-detail {
        max-width: 600px;
        margin: 0 auto 30px auto;

        table {
            width: 100%;

            tr {
                border-bottom: 1px solid #eee;

                &:last-child {
                    border-bottom-color: transparent;
                }
            }

            td {
                color: #777;
                font-size: 15px;
                line-height: 20px;
                padding: 11px 15px;
                border-right: 1px solid #eee;

                &:last-child {
                    padding-left: 25px;
                    border-right-color: transparent;
                }

                span {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 20px;
                    margin-left: 15px;
                    display: inline-block;

                    &.active {
                        color: #5cc423;
                    }
                }

                a {
                    font-size: 14px;
                    margin-left: 15px;
                    color: $color-purple;
                    text-decoration: none;
                    display: inline-block;
                    text-decoration: underline;
                }

            }
        }
    }

    @media (min-width: $screen-md-min) {

        .profile-photo-inner {
            float: left;
            width: 302px;
            margin-bottom: 0;
        }

        .profile-detail {
            float: left;
            width: 600px;
            margin: 0;
            padding-top: 80px;
        }
    }

    @media (min-width: $screen-lg-min) {

    }
}

.profile-bottom {
    margin: 0 auto;
    max-width: 902px;

    .profile-stat {
        max-width: 305px;
        margin: 0 auto 30px auto;

        .profile-stat-header {
            font-size: 15px;
            font-weight: 600;
            line-height: 28px;
            padding-bottom: 10px;
            margin-bottom: 34px;
            border-bottom: 1px solid #eee;

            .header-left {
                float: left;
                color: #000;
            }

            .header-right {
                float: right;
                color: $color-purple;
            }
        }

        tr {

            &:last-child {

                td {
                    padding-bottom: 0;
                }
            }
        }

        td {
            color: #777;
            font-size: 15px;
            line-height: 24px;
            padding: 0 0 30px 0;

            &:first-child {
                width: 180px;
                text-align: left;
                border-right: 1px solid #eee;
            }

            &:last-child {
                color: #444;
                font-size: 20px;
                font-weight: 700;
                text-align: center;
            }
        }
    }

    .profile-manage {

        .finance {
            color: #777;
            text-align: center;
            font-size: 18px;
            font-weight: 300;
            line-height: 28px;
            margin-bottom: 5px;


            .fin-title {
                margin-right: 15px;
            }

            .fin-value {
                color: #000;
                font-size: 28px;
                font-weight: 600;
                display: inline-block;
            }
        }

        .pay {
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            margin-bottom: 55px;

            a {
                color: #ff1e56;
                text-decoration: underline;
            }
        }

        .btn {
            width: 236px;
        }
    }

    @media (min-width: $screen-md-min) {
        padding-left: 49px;

        .profile-stat {
            margin: 0;
            float: left;
            width: 305px;
        }

        .profile-manage {
            float: right;
            width: 545px;

            .finance {
                text-align: right;
            }

            .pay {
                text-align: right;
            }
        }
    }
}
