.footer {
    left: 0;
    right: 0;
    bottom: 0;
    color: #aaa;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    padding-top: 20px;
    text-align: right;
    position: absolute;
    padding-bottom: 50px;
    text-align: center;

    a {
        color: #aaa;
        display: inline-block;

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        padding: 0 30px;
    }

    .footer-divider {
        display: block;
        font-size: 0;
        line-height: 0;
        @include opacity(0);
    }

    @media (min-width: $screen-sm-min) {
        text-align: right;

        .footer-divider {
            @include opacity(1);
            display: inline;
            font-size: 15px;
            line-height: 20px;
        }
    }
}