.header {
    text-align: center;
    margin-bottom: 40px;

    .container {
        max-width: 850px;
    }

    .logo {
        width: 144px;
        display: block;
        margin: 0 auto 25px auto;
    }


    .header-tel {
        color: #000;
        font-size: 20px;
        line-height: 30px;
        padding-left: 50px;
        display: inline-block;
        text-decoration: none;
        background: url("../img/icon-phone.png") 0 50% no-repeat;
    }

    @media (min-width: $screen-sm-min) {

        .logo {
            margin: 0;
            float: left;
        }

        .header-tel {
            float: right;
            font-size: 28px;
            margin-top: 30px;
        }
    }

    @media (min-width: $screen-lg-min) {
        margin-bottom: 50px;
    }

    @media (min-width: 1640px) {
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        position: absolute;

        .container {
            width: 100%;
            max-width: inherit;
        }

        .logo {
            top: 25px;
            left: 15px;
            margin: 0;
            position: absolute;
        }

        .header-tel {
            right: 15px;
            float: none;
            position: absolute;
        }
    }
}


.topnav {
    z-index: 999;

    .navbar-header {
        padding-top: 15px;
        padding-bottom: 15px;

        .navbar-toggle {
            color: #666;
            width: 36px;
            height: 36px;
            float: right;
            padding: 2px 0;
            cursor: pointer;
            font-size: 30px;
            line-height: 30px;
            text-align: center;
            background: transparent;
        }
    }

    .navbar {
        margin: 0;
        display: none;
        font-size: 0;
        line-height: 0;
        padding-top: 15px;
        background: #fff;
        padding-bottom: 10px;
        text-align: center;
        border-top: 1px solid #ff1e56;

        > li {
            margin: 0;
            width: 100%;
            padding: 0;
            position: relative;
            display: inline-block;

            > a {
                width: 100%;
                color: #666;
                padding: 5px 0;
                font-size: 18px;
                font-weight: 400;
                line-height: 20px;
                text-align: right;
                display: inline-block;
                vertical-align: middle;

                &:hover {
                    color: #ff1e56;
                }
            }

            &.active {

                > a {
                    color: #ff1e56;
                }
            }

            &:hover {

                .dropdown {
                    display: block;
                }
            }
        }

        .dropdown {
            z-index: 999;
            display: none;
            padding: 10px;
            font-size: 14px;
            line-height: 20px;
            border-top: 1px solid $color-purple;

            a {
                color: #666;
                width: 100%;
                padding: 4px 0;
                text-align: right;
                display: inline-block;

                &:hover {
                    color: $color-purple;
                }
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        margin-bottom: 25px;

        .navbar-header {
            display: none;
        }

        .navbar {
            padding-top: 0;
            display: block;
            border-top: none;


            > li {
                width: auto;

                > a {
                    font-size: 13px;
                    padding: 10px 10px;
                    border-top: 6px solid transparent;

                    &:hover {
                        border-top-color: $color-purple;
                    }
                }

                &.active {

                    > a {
                        border-top-color: $color-purple;
                    }
                }


                &:last-child {

                    .dropdown {
                        right: 0;
                        left: auto;
                    }
                }
            }

            .dropdown {
                left: 30%;
                top: 100%;
                background: #fff;
                padding: 15px 20px;
                position: absolute;
                @include box-shadow(0px 5px 15px 0px rgba(255, 100, 49, 0.15));

                &:before {
                    top: -7px;
                    left: 11px;
                    content: '';
                    width: 17px;
                    height: 7px;
                    position: absolute;
                    background: url("../img/dropnav-item.png") 0 0 no-repeat;
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {

        .navbar {


            > li {
                width: auto;

                > a {
                    font-size: 18px;
                    padding: 10px 20px;
                }
            }
        }
    }

    @media (min-width: 1640px) {
        margin-bottom: 90px;
    }
}