.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	padding: 11px 22px;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	text-transform: uppercase;
	touch-action: manipulation;
	@include border-radius(21px);
	@include box-shadow( inset 0px -1px 3px 0px rgba(255, 255, 255, 0.6));

	&:hover {
		color: #fff;
		background: #ff5c36;
		text-decoration: none;
	}

	&:active {
		background: #ff871c;
	}
}

.btn-orange {
	@include gradient-horizontal(#ff5c36, #ff871c);

	&:hover {
		background: #ff871c;
	}

	&:active {
		background: #ff5c36;
	}
}

.btn-blue {
	background: #00b7e1;

	&:hover {
		background: #00cfff;
	}

	&:active {
		background: #32aac6;
	}
}

.btn-md {
	width: 208px;
	padding: 16px 30px;
	@include border-radius(38px);

	span {
		font-size: 24px;
		line-height: 24px;
	}

	i {
		display: block;
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		font-style: normal;
		text-transform: lowercase;
	}
}