.form-control {
	margin: 0;
	width: 100%;
	color: #eee;
	outline: none;
	font-size: 16px;
	line-height: 20px;
	padding: 10px 10px;
	display: inline-block;
	background: transparent;
	border: 1px solid #eee;
	@include placeholder(#eee);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.red {

	.form-control {
		border-color: #ff0000;
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 20px;
}