@media (max-width: 600px) {

    .table-responsive {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        margin-bottom: 35px;
        border: 1px solid #ddd;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        .table {
            margin-bottom: 0;
        }
    }
}

.table {
    width: 100%;
}